.product-info-placement{
    margin-top: 10rem !important;
    
}

div.ui.segment{
    box-shadow: none !important;
    border-style: none !important;
}

div.ui.segment.info{
    background-color: #eef4f7 !important;
}

@media (max-width: 768px) {
    div.ui.segment.info{
        margin-top: -4rem;
    }
  }

.product-info-segment{
    margin-top: 3rem;
}

