.product-info-placement{
    margin-top: 80px !important;
    margin-bottom: 30px !important;
}

.product-info{
    padding-top: 2rem !important;
}

.product-info h3{
    margin-top: 1rem !important;
}