.each-slide div {
  
    
  }

  .each-slide div::after {
    content:"";
    background-image: inherit;
    width:inherit;
    height:100%;
    position: absolute;
    bottom:-100%;
    transform:scaleY(-1)
  }
  
  .each-slide span {
    padding: 20px;
    font-size: 20px;
    background: transparent;
    text-align: center;
  }


  .arrows{
    color: white;
    font-size: 40px !important;
  }

  i.arrows:hover{
    color:black !important;
  }

